.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }
    .button{
        
        color:white;
        border-color:#8fc4b7;
        border-radius: 10px;
    }
    .button:hover {
        background-color :#8fc4b7;
        transition: 0.7s;   
    }
    .image{
        border-radius: 30px;
    }

    #nav{
        border-radius: 10px;

    }